@import "node_modules/bootstrap/scss/bootstrap";
@import "../css/font-awesome/font-awesome.scss";
@import "../css/ionicons/ionicons.scss";
@import url('https://fonts.googleapis.com/css?family=Lato:400,700|Open+Sans:300,400,600,700,800');
// font-family: 'Open Sans', sans-serif;
// font-family: 'Lato', sans-serif;
@import "_variable.scss";
@import "_main.scss";


body {
    font-family: 'Lato', sans-serif;
}
img {
    max-width: 100%;
    height: auto;
}


.btn {
    text-transform: uppercase;
    height: 60px;
    line-height: 60px;
    padding: 0 30px;
    border-radius: 6px;
    background-color: $color-green;
    color:  #ffffff;
    font-size: 18px;
    font-weight: 700;
}

.scroll {
    position: absolute;
    bottom: 50px;
}
.section {
    padding-top: 60px;
    &-container {
        @include make-container();
        @include make-container-max-widths();
    }
    &-row {
        @include make-row();
    }
    &-title {
        @include make-col-ready();
        @include make-col(12);
        text-transform: uppercase;
        color:  #99cc00;
        font-size: 36px;
        text-align: center;
        margin-bottom: 55px;
    }

}
.hide {
    display: none;
}


